[Unit]
Description=Clash core service created by Clash for Windows
After=network-online.target nftables.service iptables.service

[Service]
Type=simple
ExecStart=/home/ayamir/.config/clash/service/clash-core-service
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
